<footer class="text-center footer shadow text-white tipoletra shadow">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 mt-2">
                <h3>Dirección</h3>
                <p>Novaltra
                         
                </p>
            </div>
            <div class="col-md-4 mt-2 ">
                <h3> redes</h3>
                <ul class="list-inline">
                  
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline text-white"><i class="fab fa-fort-awesome-alt"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline text-white"><i class="fab fa-skull-crossbones"></i></a>
                    </li>
                  
                </ul>
            </div>
            <div class="col-md-4 mt-2">
                <h3>Brastlewark</h3>
                <p></p>
            </div>
        </div>
    </div>
</footer>