<div class="container mt-4">
  <h1 class=" col-12 text-center m-4 mb-4 tipoletra">Brastlewark</h1>
  <div class="row">
    <img class="ima img-rounded col-12" src="assets/img/fotopueblo.jpg">
  </div>
  <h3 class="tipoletra mt-3">RAZAS DE PATHFINDER</h3>
  <p class="tipoletra mt-3">This magical alcoholic beverage was in a contest to produce the most inventive heady ale. It is most often drunk
    willingly, though some bartenders serve it to unsuspecting patrons as an expensive but ultimately harmless prank.
    The drinker finds any joke unbearably funny for 1 minute. Any Perform (comedy) check with a result of at least 10 +
    the drinker’s Will save modifier attempted within 30 feet causes the drinker to collapse in gales of laughter,
    unable to take any action but attempt suppress the laughter as a full-round action (Will DC 15). If the drinker
    succeeds at the save, that laughing fit ends, but this success offers no protection against future jokes.</p>
  <h3 class="tipoletra mt-3">ELFOS</h3>
  <p class="tipoletra mt-3">Los elfos alcanzaron su cumbre miles de años antes del ascenso de los humanos y lucharon contantemente con la
    humanidad a medida que se creaba su camino hacia la civilización. A pesar de la habilidad superior en armas y
    magia, los antiguos elfos no pudieron contener las incontables mareas de salvajes guerreros humanos.</p>
</div>
<app-footer2></app-footer2>